[submodule "Android Projects/Android-BTG-Challenge"]
	path = Android Projects/Android-BTG-Challenge
	url = https://github.com/vald3nir/Android-BTG-Challenge.git
[submodule "Android Projects/Android-Water-Delivery"]
	path = Android Projects/Android-Water-Delivery
	url = https://github.com/vald3nir/Android-Water-Delivery.git

[submodule "Smart-Energy-Project"]
	path = Smart-Energy-Project
	url = https://github.com/vald3nir/Smart-Energy-Project.git
